Repository planet-lia/planet-lia, pull requests merged in 2019-09, with the labels that each got.

#18 Replay file examples
  game-utils/match-viewer/docs/images/replay-file-examples/TextureEntity-animation-images.png
  game-utils/match-viewer/docs/images/replay-file-examples/TextureEntity-animation.gif
  game-utils/match-viewer/docs/images/replay-file-examples/attach-rotation-and-angle.gif
  game-utils/match-viewer/docs/images/replay-file-examples/attach-rotation.gif
  game-utils/match-viewer/docs/images/replay-file-examples/attach-simple.gif
  game-utils/match-viewer/docs/images/replay-file-examples/camera-movement.gif
  game-utils/match-viewer/docs/images/replay-file-examples/charts.gif
  game-utils/match-viewer/docs/images/replay-file-examples/match-details.png
  game-utils/match-viewer/docs/images/replay-file-examples/ordering-entities.gif
  game-utils/match-viewer/docs/images/replay-file-examples/show-entity-path.gif
  game-utils/match-viewer/docs/replay_file_examples.md
  game-utils/match-viewer/docs/writing_replay_files.md
Labels: project/match-viewer

#28 docs: recommendation to open issue in case of rebranding legacy
  README.md
Labels: documentation

#39 Match generator base to game template
  game-utils/game-template/assets/1.0/game-config.json
  game-utils/game-template/match-generator/.gitignore
  game-utils/game-template/match-generator/README.md
  game-utils/game-template/match-generator/build.gradle
  game-utils/game-template/match-generator/core/build.gradle
  game-utils/game-template/match-generator/core/src/com/planet_lia/match_generator/MatchGenerator.java
  game-utils/game-template/match-generator/core/src/com/planet_lia/match_generator/libs/BotConnection.java
  game-utils/game-template/match-generator/core/src/com/planet_lia/match_generator/libs/BotServer.java
  game-utils/game-template/match-generator/core/src/com/planet_lia/match_generator/libs/DefaultArgs.java
  game-utils/game-template/match-generator/core/src/com/planet_lia/match_generator/libs/GeneralConfig.java
  game-utils/game-template/match-generator/core/src/com/planet_lia/match_generator/libs/Timer.java
  game-utils/game-template/match-generator/core/src/com/planet_lia/match_generator/logic/Args.java
  game-utils/game-template/match-generator/core/src/com/planet_lia/match_generator/logic/GameConfig.java
  game-utils/game-template/match-generator/core/test/com/planet_lia/match_generator/libs/BotServerTest.java
  game-utils/game-template/match-generator/desktop/build.gradle
  game-utils/game-template/match-generator/desktop/src/com/planet_lia/match_generator/desktop/DesktopLauncher.java
  game-utils/game-template/match-generator/gradle.properties
  game-utils/game-template/match-generator/gradle/wrapper/gradle-wrapper.jar
  game-utils/game-template/match-generator/gradle/wrapper/gradle-wrapper.properties
  game-utils/game-template/match-generator/gradlew
  game-utils/game-template/match-generator/gradlew.bat
  game-utils/game-template/match-generator/settings.gradle
Labels: project/game-utils

#44 feat(web-main): add placeholder landing page
  websites/main/img/GitHub_Logo.png
  websites/main/img/website-banner.png
  websites/main/index.html
  websites/main/index.js
  websites/main/styles.css
Labels: project/web
